flows.json
[{"id":"a16f6f01.b9c19","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9eca573d.cc7218","type":"mqtt in","z":"a16f6f01.b9c19","name":"Temperature_1","topic":"esp/dht/temperature_1","qos":"1","datatype":"auto","broker":"5d98d37e.51bc5c","x":200,"y":200,"wires":[["25c7f1ab.36900e","c9166df1.e90b7","5eae596.530bda8"]]},{"id":"25c7f1ab.36900e","type":"ui_gauge","z":"a16f6f01.b9c19","name":"","group":"be1b3d92.4d5e9","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature_1","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":200,"wires":[]},{"id":"d0202e2d.d921a","type":"mqtt in","z":"a16f6f01.b9c19","name":"Temperature","topic":"esp/dht/temperature","qos":"2","datatype":"auto","broker":"5d98d37e.51bc5c","x":670,"y":200,"wires":[["c4369d2c.98f89","7feee4bc.dd5fcc","588ae5d7.6906bc"]]},{"id":"746c1cfd.93cff4","type":"mqtt in","z":"a16f6f01.b9c19","name":"Humidity_1","topic":"esp/dht/humidity_1","qos":"1","datatype":"auto","broker":"5d98d37e.51bc5c","x":180,"y":300,"wires":[["953902a5.e3e51","5eae596.530bda8","c9166df1.e90b7"]]},{"id":"1c396771.cdd5c9","type":"mqtt in","z":"a16f6f01.b9c19","name":"Humidity","topic":"esp/dht/humidity","qos":"2","datatype":"auto","broker":"5d98d37e.51bc5c","x":660,"y":300,"wires":[["cc9e9fd2.71cd8","7feee4bc.dd5fcc","588ae5d7.6906bc"]]},{"id":"c4369d2c.98f89","type":"ui_gauge","z":"a16f6f01.b9c19","name":"Temperature","group":"be1b3d92.4d5e9","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":200,"wires":[]},{"id":"953902a5.e3e51","type":"ui_gauge","z":"a16f6f01.b9c19","name":"Humidity_1","group":"c7b150fd.d6849","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity_1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":300,"wires":[]},{"id":"cc9e9fd2.71cd8","type":"ui_gauge","z":"a16f6f01.b9c19","name":"Humidity","group":"c7b150fd.d6849","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":300,"wires":[]},{"id":"1973072e.1c86c9","type":"debug","z":"a16f6f01.b9c19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":780,"wires":[]},{"id":"c9166df1.e90b7","type":"debug","z":"a16f6f01.b9c19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":100,"wires":[]},{"id":"84296fe5.03d99","type":"file","z":"a16f6f01.b9c19","name":"","filename":"Sensor_1.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":600,"y":680,"wires":[[]]},{"id":"5eae596.530bda8","type":"batch","z":"a16f6f01.b9c19","name":"","mode":"count","count":"3","overlap":0,"interval":"5","allowEmptySequence":false,"topics":[],"x":470,"y":480,"wires":[["224d8747.d15d58"]]},{"id":"8e61aca3.1fd97","type":"csv","z":"a16f6f01.b9c19","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":390,"y":680,"wires":[["1973072e.1c86c9","84296fe5.03d99"]]},{"id":"12460cdd.ac56f3","type":"debug","z":"a16f6f01.b9c19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":760,"wires":[]},{"id":"33865fd3.e92f9","type":"file","z":"a16f6f01.b9c19","name":"","filename":"Sensor_2.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1220,"y":680,"wires":[[]]},{"id":"7feee4bc.dd5fcc","type":"batch","z":"a16f6f01.b9c19","name":"","mode":"count","count":"3","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":1010,"y":480,"wires":[["5b46106.d5d40f"]]},{"id":"e8aa6d49.9d35a","type":"csv","z":"a16f6f01.b9c19","name":"","sep":",","hdrin":"","hdrout":false,"multi":"mult","ret":"\\n","temp":"Temp,Humid","skip":"0","strings":true,"x":1010,"y":660,"wires":[["12460cdd.ac56f3","33865fd3.e92f9"]]},{"id":"6e5243f2.beb0ec","type":"join","z":"a16f6f01.b9c19","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":560,"wires":[["e8aa6d49.9d35a"]]},{"id":"588ae5d7.6906bc","type":"debug","z":"a16f6f01.b9c19","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":100,"wires":[]},{"id":"b48c5e3d.2dc0e","type":"comment","z":"a16f6f01.b9c19","name":"# Sensor_1 Data flow","info":"# Sensor_1 Data flow","x":340,"y":60,"wires":[]},{"id":"eaa49b22.a01aa8","type":"comment","z":"a16f6f01.b9c19","name":"# Sensor_2 Data flow","info":"# Sensor_2 Data flow","x":1220,"y":200,"wires":[]},{"id":"64f9457d.5447bc","type":"mqtt in","z":"a16f6f01.b9c19","name":"Soil_Moisture_1","topic":"esp/soilmoisture_1","qos":"1","datatype":"auto","broker":"5d98d37e.51bc5c","x":200,"y":400,"wires":[["807f7ae1.e16d38","5eae596.530bda8","3ec14f49.a9f15","808b4ab9.f09c58"]]},{"id":"807f7ae1.e16d38","type":"ui_gauge","z":"a16f6f01.b9c19","name":"Soil_Moisture_1","group":"be1b3d92.4d5e9","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil_Moisture_1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":400,"wires":[]},{"id":"808b4ab9.f09c58","type":"function","z":"a16f6f01.b9c19","name":"Time","func":"msg.payload = new Date().toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":480,"wires":[["2fea77c2.b9d468"]]},{"id":"7722a419.37d7ac","type":"join","z":"a16f6f01.b9c19","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":550,"y":560,"wires":[["8e61aca3.1fd97"]]},{"id":"3ec14f49.a9f15","type":"function","z":"a16f6f01.b9c19","name":"Date","func":"msg.payload = new Date().toLocaleDateString();\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":560,"wires":[["2fea77c2.b9d468"]]},{"id":"2fea77c2.b9d468","type":"batch","z":"a16f6f01.b9c19","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":170,"y":660,"wires":[["224d8747.d15d58"]]},{"id":"224d8747.d15d58","type":"batch","z":"a16f6f01.b9c19","name":"","mode":"count","count":"5","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":390,"y":560,"wires":[["7722a419.37d7ac"]]},{"id":"2419bef1.fa2922","type":"mqtt in","z":"a16f6f01.b9c19","name":"Soil_Moisture","topic":"esp/soilmoisture","qos":"2","datatype":"auto","broker":"5d98d37e.51bc5c","x":670,"y":400,"wires":[["63c8cd52.8b5de4","7feee4bc.dd5fcc","92914e20.45cdc","b758d2b7.bb572"]]},{"id":"63c8cd52.8b5de4","type":"ui_gauge","z":"a16f6f01.b9c19","name":"","group":"c7b150fd.d6849","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil_Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":400,"wires":[]},{"id":"92914e20.45cdc","type":"function","z":"a16f6f01.b9c19","name":"Time","func":"msg.payload = new Date().toLocaleTimeString();\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["3001342c.61735c"]]},{"id":"b758d2b7.bb572","type":"function","z":"a16f6f01.b9c19","name":"Date","func":"msg.payload = new Date().toLocaleDateString();\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":560,"wires":[["3001342c.61735c"]]},{"id":"3001342c.61735c","type":"batch","z":"a16f6f01.b9c19","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":810,"y":660,"wires":[["5b46106.d5d40f"]]},{"id":"5b46106.d5d40f","type":"batch","z":"a16f6f01.b9c19","name":"","mode":"count","count":"5","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":950,"y":560,"wires":[["6e5243f2.beb0ec"]]},{"id":"5d98d37e.51bc5c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be1b3d92.4d5e9","type":"ui_group","z":"","name":"Node_1","tab":"f8fed824.ef3988","order":1,"disp":true,"width":"7","collapse":false},{"id":"c7b150fd.d6849","type":"ui_group","z":"","name":"Node_2","tab":"f8fed824.ef3988","order":2,"disp":true,"width":"7","collapse":false},{"id":"f8fed824.ef3988","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]